.playlist-container {
  margin: 1em 1em;
}
.video-container {
  margin: 0;
}
.playlist-caption {
  font-family: Roboto-Bold;
  font-size: 32px;
  word-wrap: break-word;
}

.playlist-scroller {
  max-height: 20em;
  overflow: auto;
}
.playlist {
  list-style: none;
  padding: 0;
  border-top: 1px solid #484949;
}
.playlist li {
  display: grid;
  grid-template-columns: 0.4fr 3fr 2fr;
  grid-template-rows: 2.5em;
  align-items: center;
  padding-left: 1em;
  margin-bottom: 0.3em;
  font-size: 1.2em;
  cursor: pointer;
  border-bottom: 1.5px solid #ccc;
  background: #cdcdcf;
}
